body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
    text-align: center;
    position: static;
    h1 {text-align: center;}
    
    }
    .mission{
        color:darksalmon;
        text-align: center;
    }
    .orange-color{
        color:orange;
        
        }
        section{
            display: flex;
            
            }
            .half-width{
                width: 50%;
                padding-left:
                5%;
            }
                

            .half-width img{
                width: 45%;
            }
            .link-button{
                text-decoration: none;
                background-image: linear-gradient(orange,tomato);
                padding: 10px 40px;
                color:white;
                font-weight: 700;
                border-radius:5px ;
            }
            .year{
                color: burlywood;
            }
            .top-banner{
                background-image: url(images/top-banner.png);
                background-repeat: no-repeat;
            }
            .dream-big{
                background-image: url(images/dream-bg.png);
                background-repeat: no-repeat;
                background-position: right;
            }
            div{
                text-align: center;
                width:250px;
                height: 750px;
                border:darksalmon 5px;
                padding:15px;
                margin:15px;
                border-radius: 8px;
            }
            
            #column1 {
                background-color: rgb(227, 255, 127);
                width:500px;
                hight:150px;
                margin: 5px;
            }
            #column2 {
                background-color: rgb(64, 211, 162);
                width:550px;
                hight:150px;
                margin: 5px;
            }
            #column3 {
                background-color: rgb(221, 151, 21);
                width:550px;
                hight:150px;
                margin: 5px;
            }
            #mission{
                margin: 20px center;
                float:static ;
                padding: 20px ; 
                margin: 20px;
                position:right;
                
            }
            
            
        footer p {
            text-align: center;
            margin-bottom: 50px;

             

            }
            

            
            


        
            
            
